.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;

    .google{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        width: 345px;
        height: 40px;
        margin-top: 15px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.453);
        border: 1px solid rgba(0, 0, 0, 0.09);
        cursor: not-allowed;
        filter:saturate(0.5);

        .googleico{
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        p{
            font-size: 12px;
        }
    }

    .contform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
        margin-inline: 15%;

        .title{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h4{
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 5px;
            }

            p{
                margin-left: 2px;
                font-size: 14px;
            }
        }
    }

    .background{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 45%;

        .cover{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(26, 26, 26, 0.39);
            backdrop-filter: blur(1px);
            color: #EEEEEE;

            span, h4{
                font-size: 42px;
            }

            span{
                font-weight: 200;
            };

            h4{
                font-weight: 500;
            }
        }

        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.283);
            object-fit: cover;
        };
    }

    .complete{
        transition: 0.5s;
        width: 100%;
    }
}
